@font-face {
    font-family: 'CanvaSans';
    src: url('../fonts/Canva_Sans.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'CanvaSans', sans-serif;
}

Chrome, Safari, Edge, Opera
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

body {
    background-color: #d9d9d9;

    display: flex;
    gap: 30px;

    padding: 30px;
}

aside {
    background-color: #0a1836;

    width: 20%;
    height: 100%;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    padding: 20px;
}

.aside-container {
    background-color: #133a8c;
    border: #4f82ef solid 2px;
    border-radius: 10px;

    cursor: pointer;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.active {
    background-color: #00bf63;
    border: #85f5bf solid 2px;
}

.aside-container>p {
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

#logoutModal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

#logoutModal .Modal-Content {
    background-color: #fff;
    margin: auto;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    max-width: 350px;
    text-align: center;
}

#logoutModal p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

#logoutModal button {
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#logoutModal #YESLOGOUT {
    background-color: #d32f2f;
}

#logoutModal #YESLOGOUT:hover {
    background-color: #b71c1c;
}

#logoutModal #cancelLogoutBtn {
    background-color: #555;
}

#logoutModal #cancelLogoutBtn :hover {
    background-color: #333;
}
main {
    display: flex;

    height: 100%;
    width: 100%;
}